@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.active {
  @apply text-2xl
}

.dark-theme {
  background-color: #1f1e1e00;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}